@font-face {
    font-family: 'font-dep';
    src: url('../../css/font/roboto-medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font-dep1';
    src: url('../../css/font/roboto-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font-dep2';
    src: url('../../css/font/roboto-condensed.ttf');
    font-weight: normal;
    font-style: normal;
}
a:hover, a:focus {
    text-decoration: none;
}

body { background:#eee;}
#tpl-contaiter { max-width:100%; margin:auto; overflow: hidden}
#tpl-contaiter img { max-width:100%; height:auto;}
/*~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~*/
#tpl-header {
	background:#3098f5; color:#f0f0f0; font-size:26px;
}
.left {
	float:left
}
.top_header {
	padding:10px 5px; overflow:hidden; line-height: initial;
}
.menu-right {
 float:left;  color:#fff; font-size:24px;
}
.logo { margin-top: 16px;}
.search {}
.search img {}
.topmenu {
	background:#e82828; padding: 0; text-align: center;
}
.topmenu ul { list-style:none; margin:0; padding:0; display: inline-flex;}
.topmenu ul li {
	padding:15px 0; border-bottom: 2px #e82828 solid; float:left;
}
.topmenu ul li.active,
.topmenu ul li:hover {border-color: #fff;}
.topmenu ul li a{
	color:#fff; padding:0 16px; text-shadow:1px 1px 1px #333; font-size:24px; cursor:pointer; border-left:solid 1px #ff6666; line-height: normal;
}
.topmenu ul li:first-child  a{ border-left:none;}
.topmenu ul li a:hover{}
.topmenu img { display:block;}

#search_panel {
	width: 100%;  position:fixed; right:-100%; top:30px; z-index: 12;
}
.searchform {
	position:relative; width:90%; margin:auto;
}
.searchform input.form-control {
	padding-right:100px; font-weight:normal; font-size: 16px;
}
.btn_search {
	position:absolute; right:0; top:0; width:90px;
}
.advs{width: 100%}
.advs img{width: 100%}
.top-profile{margin-bottom: 15px;text-align: center}
.d_exam_q p{width: 95%}
.d_exam_a p{width: 60%}
.d_exam{width: 100%; margin-bottom: 25px;}
#exam{
    line-height: 30px;
    font-size: 16px;
}
/*~~~~~~~~~~~~~~~~~~~upload images~~~~~~~~~~~~~~~~~*/
.custom-file-input::before {
  content: ' ';
  display: inline-block;
  background: url(../images/upload.png) no-repeat !important;
  background-size: 100%;
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 20px 30px;
  /* outline: none; */
  margin-left: 20px;
  -webkit-user-select: none;
  margin-top: 15px;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  /* font-weight: 700; */
}
#filediv {
  width: 100%;
  min-height: 100px;
  position: relative;
  background: url(../images/upload.png) no-repeat 50% 30%
}
#img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0%;
  right: 5%;
}
.abcd{
position: relative;
  z-index: 999;
}
/*.custom-file-input{
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    This makes the button huge. If you want a bigger button, increase the font size
    font-size:50px;
    Opacity settings for all browsers
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}*/
input[type='file'] {
  opacity:0
}
/*~~~~~~~~~~~~~~~~~~~~~end upload~~~~~~~~~~~~~~~~~~*/
.name-title {
  float: left;
  width: 70%;
}
.avata img {
  width: 35px;
  float: left;
  margin-right: 4px;
  height: 35px !important;
}
#menu_panel {
	width: 75%; height:100%; position:fixed; left:-100%; top:0px; z-index: 999999; background:#fdfffe; overflow-y: scroll;
}
.loadItem{text-align: center; display: none}
.hotline { color:#fff; font-size:40px; text-align:center; background:#009966; padding:40px 10px;}
.menu1 {  }
.menu1 ul {
	list-style:none;  margin:0;
}
.menu1 ul li {
	overflow:hidden; padding:16px 0;  border-bottom: 1px solid #dbdbdb;
}
.menu1 ul li:last-child{border-bottom:0}
.menu1 ul li img  {
	width: 32px; height: 30px; float: left; margin-left: 10px;
}
.menu1 ul a {
	color: #352d2e; font-family: font-dep1; float: left; padding-top: 8px; padding-left: 15px; padding-right: 5px; font-size: 22px;
}
.menu1 ul a sup{
    color: #ea1b1b;
}
.bg_overlay {
	background:rgba(0,0,0, .5); position:fixed; left:0px; top:0px;  z-index:11; display: none; width:100%; height:100%;
}
/*.comment-text{display: none}*/

/*~~~~~~~~~~~~~~~~~ END HEADER ~~~~~~~~~~~~~~~~*/
.name-detail {text-align: right}
.name-title a{
    font-family: font-dep;
  font-size: 12px;
}
.name-title p{
   color: #b0b0b0;
  font-family: font-dep1;
}
.name-detail a{
    /*color: #b0b0b0;*/
  font-family: font-dep1;
}
.subject-title img{width: 15px;}
.subject-title span{
  font-family: font-dep;
  font-size: 11px;
}
.article-title{margin-top: 7px}
.article-title p{
    font-size: 12px;
  font-family: font-dep;
}
.notify{margin-top: 10px;}
.notify img{width: 15px}
.notify span{  font-family: font-dep2;color: #b0b0b0;font-size: 11px}
.profile {  padding: 15px 18px 10px;overflow: hidden;background-color: #3099f5}
.profile img{  width: 50px;margin-right: 10px;float: left;border-radius: 100%; height: 50px !important;border: 1px solid #8cc9fe;background-color: #fff}
.top-profile img{  width: 100px;margin-right: 10px;float: left;border-radius: 100%; height: 100px !important; border: 5px solid #ccc;margin-left: 34%;}
.profile-name{float: left;width: 70%;margin-top: 7px}
.profile-name a{color: #fff;font-size: 16px;font-family: font-dep;}
.profile-name p{font-family: font-dep;color: #b3dbfe}
.profile-name p span{color: #b3dbfe;}
.avata img{border-radius: 100%}
.bottom-profile img{border-radius: 0 !important;height: auto !important;}
.bottom-profile .row{    margin-bottom: 5px;margin-top: 4px;}
/*~~~~~~~~~~~~~~~~~~sign main~~~~~~~~~~~~~~*/

.sign-main{  background-color: #55caf5;background-size: 100% 100%;width: 100%; min-height: 100%;}
.sign-form{
    padding: 15% 10px;
    text-align: center;
}
.sign-logo{margin-bottom: 15px;}
.sign-logo img{width: 110px}
.btn-default.sign-submit{
  background-color: #02a7ba;
  border-color: #ccc;
  color: #fff;
  font-family: font-dep;
        padding: 6px 30px;
  border-radius: 10px;
  font-size: 18px;
}
.sign-more{margin-top: 10px}
.sign-more a{color: #fff; font-size: 14px}
.form-group{margin-bottom: 0px !important}
.modal-content{
    background-color: #f1f1f1;
}
.modal-header{
    border-bottom:0;
    background-color: #ec3434;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    padding:13px 15px;
}
.modal-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom:0;
    font-size: 16px;
}
.modal-footer{
    border-top: none;
    margin-top: 0px !important;
    padding: 0px !important;
}
::-webkit-input-placeholder {
   color: #343434 !important;
   font-family: font-dep1;
   /*font-style: italic;*/
   font-size: 14px
}

:-moz-placeholder { /* Firefox 18- */
   color: #343434 !important;
   font-family: font-dep1;
   /*font-style: italic;*/
   font-size: 14px
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #343434 !important;
   font-family: font-dep1;
   /*font-style: italic;*/
   font-size: 14px
}

:-ms-input-placeholder {
   color: #343434 !important;
   font-family: font-dep1;
   /*font-style: italic;*/
   font-size: 14px
}
/*~~~~~~~~~~~~~~~~~~~question~~~~~~~~~~~~~~~~~~~~~~~*/
.question{margin-top: 10px;}
.question-title {
    background-color: #fff;
  margin-bottom: 20px;
  padding: 10px 05px;
}
.question-title-1{  margin-bottom: 10px;}
.question-title-1 label img{width: 50px; border-radius: 100%;}
.question-title-1 input{
      padding: 15px 5px;
  width: 80%;
  border: none;
  font-size: 18px;
}
.question-title-2 {
      display: inline-flex;
  text-align: right;
  width: 100%;
}
.question-title-class{width: 45%}
.question-title-subject{  width: 40%;text-align: right;}
.question-images{width: 100%}
.question-images img{width: 100%}
.question-title-class select, .question-title-subject select{
  background-color: #55caf5 !important;
  color: #fff !important;
  font-family: font-dep2;
  padding: 5px 14px;
  font-size: 14px;
  border-radius: 5px;
  border: none !important;
}
.question-title-level select{
   background-color: #55caf5 !important;
  color: #fff !important;
  font-family: font-dep2;
  padding: 5px 14px;
  font-size: 14px;
  border-radius: 5px;
  border: none !important;
}
.question-submit{width: 100%; margin-top: 15px; text-align: center;margin-bottom: 40px;}
.question-submit button{padding: 5px 20px;}
.answer{
    border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 15px;
}
.answer h2{  color: #02a7ba; font-family: font-dep;}
.answer-images{width: 100%}
.comment-answer h2{color: #02a7ba;font-family: font-dep;}
.comment-answer-list{  width: 100%;}
.comment-answer-list ul{margin: 0;padding: 0px}
.comment-answer-list ul li{
  width: 100%;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
    padding-top: 10px;
}
.comment-answer{margin-bottom: 10px}
.comment-answer-list li img{
  width: 50px !important;
  float: left;
  height: 50px !important;
  margin-right: 5px;
}
.comment-answer-list-title{
    width: 70%;
  float: left;
  word-wrap:break-word;
}
.comment-answer-list-title a{font-family: font-dep;}
.comment-answer-list-title p{font-family: font-dep1;font-size: 11px;line-height: 18px;}
.question-footer{
background-color: #02a7ba;
  text-align: center;
  padding: 15px 0px;
}
.service-account{ width: 100%;float: left;}
.service-account ul{width: 100%; margin: 0; padding: 0;float: left;}
.service-account ul li{list-style: none; width: 30%; float: left;}
.question-footer button{
      background-color: #55caf5;
      border: none;
      margin-right: 10px;
}
.service {margin-bottom: 3px !important}
.nt-footer{text-align: center}
.listarticle-account{margin-bottom: 0px !important}
.num-account{margin-top: 2px !important}
.price-account{margin-bottom: 10px}
/*~~~~~~~~~~~~~~~~~~~~~~~~~account~~~~~~~~~~~~~~*/
.account-img{
    text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.account-img img{width: 120px}
.account-content{text-align: center}
.account-content p{line-height: 20px}
/*~~~~~~~~~~~~~~~~~ BANNER ~~~~~~~~~~~~~~~~*/
#tpl-banner { position:relative;}
.fade_banner {
	position:relative;
}
.title_banner {
	position:absolute; bottom: 15%; left:0; width:100%; text-align:center; z-index:12; font-size:36px; color:#fff;
}
.overlay {
	background:url(images/bg_opacity.png) repeat-x left bottom; position:absolute; left:0; bottom:0; width:100%; height:100%; z-index:2;
}
.carousel-inner  img { width:100%;}
.carousel-indicators li {
	width:10px; height:10px; background:#848f95; border-radius:100%; font-size:0px;  color:transparent;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}
.carousel-indicators li.active {
	width:14px; height:14px; background:#fff; margin:-2px;
}
.tb {
	background:rgba(0, 0 ,0, .6); padding:10px; position:absolute; left:0; top:0; z-index:11; width:100%; color:#fff; font-size:14px;
}
.tb  a {
	color:#fef17f;
}
.tb .close {
	color: #fff; opacity: 1; font-weight: normal; font-family: arial;
}

/*~~~~~~~~~~~~~~~~~ END BANNER ~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~*/
#tpl-main {}

.web_body {
	padding:10px 10px;
        margin-top: 10px;
        background: #fff;
        border-radius: 5px;
}
.webpart {
      /*margin: 0 10px;*/
/*  border-radius: 5px;
  background: #fff;*/
}
.webpart_title {
	background:#cc0000; font-size:36px; color:#fff; margin:1px 0;
	height:70px; padding: 0 0 0 20px; line-height:70px;
}

.webpart_title.over img {
	margin-top: -14px;
}
.webpart_title  span{
	display:block; background: url(images/bg_title.png) no-repeat right center;
	height: 100%;  display: block;
}
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.listarticle { margin-bottom:20px;}
.articleitem_body {
	margin:7px 0; overflow:hidden; background:#f2f2f2;
}
.articleitem_body .ava {
}
.articleitem_body .ava img { width:100%;}
.articleitem_body .title { padding-bottom:5px; text-align: justify;}
.articleitem_body .title a{
	font-size:18px; color:#333333;
}
.articleitem_body .item_body {
	position:relative; padding: 8px 14px;
}
.articleitem_body .wrap-tool {
	color:#666666; font-size:14px; overflow:hidden; width:100%; padding: 5px 0;
}
.articleitem_body .wrap-tool .datecreate {
	float:left;
}
.articleitem_body .wrap-tool .view {
	float:right; background:url(images/icon_eye.png) no-repeat left center; padding-left:29px;
}
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.article-detail { padding:30px 0;}
.article-detail h1 {
	font-size:36px;  line-height:normal;
}
.article-detail .wrap-tool {
	color:#666666; font-size:14px; overflow:hidden; width:100%; padding: 5px 0;
}
.article-detail  .wrap-tool .datecreate {
	float:left; padding:0 20px 15px 0;
}
.article-detail  .wrap-tool .view {
	float:left; background:url(images/icon_eye.png) no-repeat left center; padding-left:29px;
}
.article-detail  .article_main {
	font-size:24px; line-height:normal; text-align:justify;
}
.article-detail  .article_main img { max-width:100%; height:auto; margin:5px auto;}
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.playgame { padding:20px ;}

.timedown { background:#fff; border-radius:15px; height:40px; line-height:40px; width:100px; margin:auto;}

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.table {}
.table th {
	text-align:center; font-size:18px; font-weight:bold; background:#009966; border:solid 2px #eeeeee; color:#fff;
}
.table td{
	font-size:18px; text-align:center; border:solid 2px #eeeeee;
}
.table tr.even td { background:#f8f8f8 ;}
.trungthuong .table th  {
	background:#333;
}
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.login { font-size:30px; line-height:normal; padding:30px 10px 10px;}
.playgame .btn-default,
.login .btn-default {
	background:#ff3333; color:#fff; margin: 10px auto; font-size:30px; border-radius:9px; height:60px; line-height: 60px;padding:0 32px; outline:none; min-width: 200px;
}
.red { color: #cc0000;}
.blue { color: #0066cc;}
.form-control { height:68px; margin: 15px 0 30px; font-size:30px;}
.note { font-size:24px;}
.text-italic { font-style:italic;}
.search-question-bank{border: none !important}
.search-question-bank img{width: 120px}
.detail-question-bank{ padding: 5px 15px;}
.blog-wap ul{    margin: 0; list-style: none;}
.blog-wap ul li{  width: 100%;  float: left; margin-bottom: 20px;}
.blog-wap ul li img{ width: 20%;    float: left; margin-right: 10px;}
.blog-title{    font-family: font-dep; font-size: 14px;}
.blog-wap{margin-bottom: 30px}
/*~~~~~~~~~~~~~~~~~ END MAIN ~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~*/
#tpl-footer {
	background:#efefef; font-size:20px;
}
.tpl-footer_menu { text-align:center;  background:#f8f8f8; padding:10px 0; border-top:solid 1px #eeeeee;}
.tpl-footer_menu .menu { list-style:none; margin:0; padding:0;display: inline-block;  }
.tpl-footer_menu .menu li { float:left; display:inline; padding: 0 30px; border-left:#cccccc 1px solid; }
.tpl-footer_menu .menu li:first-child { border-left:none;}

.tpl-footer_menu .menu li.backtop { background:none;}
.tpl-footer_menu .menu li a { color:#333333; line-height: normal; cursor:pointer;}
.tpl-footer-bottom {
	text-align:center;  padding:20px 0;
}
.copyright { overflow:hidden;}
.align-left {
	float:left; margin-right:20px; line-height: normal;
}
.copyright table { margin:auto;}
.copyright table td{ padding:0 20px;}
.tabs ul{
        margin: 0;
    padding: 0;
    height: auto;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    background-color: #fff;
    text-align: center;
}
.tabs ul li{
    list-style: none;
    width: 32%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabs ul li:last-child{border-right: none}
.bottom-profile input{border: none;padding: 5px; background: #fff;width: 90%}
.bottom-profile label{font-family: arial;font-weight: 100;}
.edit-profile{width: 100%; margin-bottom: 10px;text-align: right;}
.edit-profile button{padding: 2px 10px;}
/*~~~~~~~~~~~~~~~~~ END FOOTER ~~~~~~~~~~~~~~~~*/
.classOption, .subjectOption, .tagOption, .unitOption, .chapterOption{
    width: 100%;
    background: #fff;
    padding: 10px;
}
.questionBank .form-group{margin-bottom: 5px !important; padding: 10px}
.questionBank label{margin-top: 11px}
/*~~~~~~~~~~~~~~~~~ END FOOTER ~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~ MORE ~~~~~~~~~~~~~~~~*/
.searchLibrary, .questionTeach{
       width: 100%;
    padding: 10px;
    text-align: center;
}
.searchLibrary h3, .questionTeach h3{
        color: #527FA9;
    font-size: 20px;
}
.searchLibrary p, .questionTeach p{
    line-height: 20px;
    font-size: 18px;
}
.searchLibrary img, .questionTeach img{
    width: 30%;
    padding-top: 10px;
}
.tab-card, .tab-historyService, .tab-historyCard{background: #ccc; color: #fff; text-align: center; padding: 5px; min-height: 46px}
.tab-card a, .tab-historyService a, .tab-historyCard a{padding: 5px;}
.tab-card a{padding: 5px;}
.call{margin: 0;padding: 0}

/*~~~~~~~~~~~~~~~~~ END MORE ~~~~~~~~~~~~~~~~*/

.top_header .finter,.top_header .notifi{
    position: absolute;
    top:5px;
    right: 20px;
    width: 40px;
    height: 40px;
}
.top_header .notifi{
    right:80px;
    width: 30px;
    height: 30px;
    top:8px;
}
#countnb{
    position: absolute;right: -4px;top: -4px;z-index: 9;width: 17px;height: 17px;
}
.notifi-number {
    background-color: #f10808;
    border-radius: 17px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color:#fff !important;
    display: block;
    height: 17px;
    width: 17px;
}
.menu-right-top {
    background-color: #fff;
    border: 2px solid #B8B8B8;
    position: absolute;
    right: 0;
    top: 55px;
    width: 100%;
    z-index: 99;
}
.menu-right-top img.icon-muiten{
    position: absolute;
    right: 82px;
    top:-12px;
}
.user-time{
    color: #bbb;
    display: block;
}
.user-content{
    color: #464445;
    display: block;
    padding: 5px 0;
}
.userfullname{
    color:#030000;
    display: block;
    font-weight: 700;
}
.user-avatar,.user-msg{
    display: block;
}
.user-avatar{
    vertical-align: top;
    float: left;
    margin-right: 15px;
}
a.item-user{
    display: block;
    clear: both;
    padding: 15px 20px;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
}
a.item-user.is-new{
    background-color: #e3f0f9;
}
a.item-user:hover{
    background-color: #f8f8f8;
}

/**********************************/
a.btn-register,a.btn-view{
    display: inline-block;
    border: 1px solid #cacaca;
    border-radius: 20px;
    padding: 5px 17px;
    margin: 7px 0 0;
}
a.btn-view{padding: 5px 27px;}
a.btn-register span,a.btn-view span{
    display: inline-block;
    padding: 0 0 0 35px;
    color: #f83d3d;
    font-weight: 700;
    /*font-size: 16px;*/
    line-height: 25px;
    height: 25px;
    background: url(../images/icon-register.png) no-repeat;
}
a.btn-view span{
    background: url(../images/icon-view.png) no-repeat;
    color: #f3a102;
}
.block-live{margin-top: 7px}
.block-live h3{
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    background-color: #f83d3d;
}
.block-live h3.color-blue{background-color: #3d94e3;}
.block-live h3.color-green{background-color: #55c11a;}
.block-live .item{
    background-color: #fafafa;
    padding: 5px;
    border:1px solid #e3e3e3;
    margin:5px 5px 10px;
    position: relative;
}
.block-live .content{
    margin-bottom: 10px;
}
.block-live .item-title a{color: #3098f5;font-weight: 700;}
.block-live .item-note.color-red{color: #f83d3d}
.block-live .item-note.color-green{color: #55c11a}
.block-live .item-image{
    position: relative;
    display: block;
    margin-bottom: 5px;
}
.block-live .item-teacher{
    color: #fff;
    font-weight: 700;
    background: url(../images/bg-tran.png) repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 5px;
}
.block-live .item-time{color: #ff0000;position: absolute;right: 5px;bottom: 5px}
.no-padding{
    padding: 0 !important;
    margin: 0 !important;
}

.block-register{
    background-color: #fff;
    padding: 10px 15px 20px;
    border:1px solid #e3e3e3;
    margin:5px 5px 10px;
    position: relative;
}
.block-register select,.block-register label{
    display: block;
}
label,label span {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.block-register input[type="text"],.block-register input[type="password"],.block-register select{
    width: 100%;
    border: 1px solid #a1a1a1;
}
.block-register .block-time input{
    width: 15%;
}
.block-register input[type="text"],.block-register input[type="password"]{
    padding:7px 5px;
    font-weight: normal;
    font-size: 14px;
}
.block-register label{
    padding: 10px 0 0;
}
.block-register label input[type="text"],.block-register label input[type="password"]{
   width: 40%;
}
.block-register button[type="submit"],a.btn-blue,button.btn-red{
    border: 0;
    background-color: #3098f5;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    padding: 10px 30px;
    font-size: 16px;
    margin: 15px 0 0;
}
button.btn-red{background-color: #ec3434}
a.btn-modal,button.btn-modal{
    border-radius: 30px;
    width: 100px;
    padding: 10px 0;
    font-size: 14px;
}
a.btn-blue,button.btn-red{
    display: inline-block;
}
.bg-white a.btn-blue{
    border-radius: 20px;
    padding: 10px 45px;
}
.block-register span.span-oncash{
    color: #aeaeae;
    font-weight: 700;
}
.block-register .block-time label,.block-register .block-date label{
    color: #3098f5;
    font-weight: 700;
    padding: 10px 0 5px;
}
.block-register .block-time span.block-time-to{
    padding: 0 5px;
}
.block-register select{
    margin-bottom: 10px;
    height: 32px;
    background: url(../images/select.png) no-repeat right center;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
.block-confirm h3{
    color:#e31010;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 0;
    font-size: 16px;
}
.block-confirm ul{margin: 0}
.block-confirm ul li{
    list-style: none;
    padding: 15px 0 15px 25px;
    background: url(../images/li.png) no-repeat 0 15px;
}
.block-confirm ul.ul-model li{
    padding: 12px 0 12px 25px;
}
.block-confirm ul span{
    font-weight: 700;
    color:#3098f5;
}
.block-view-content{
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    margin: 5px 5px 2px;
    padding: 5px;
    position: relative;
}
.total-views{
    position: absolute;
    left: 10px;
    top:10px;
    color: #fff;
    font-size: 12px;
    background: url(../images/icon-user.png) no-repeat left center;
    padding-left: 23px;
}
.bg-white{
    background-color: #fff;
    border: 1px solid #e3e3e3;
    padding: 20px 10px;
    margin:0 5px 10px;
    border-top:0;
}
.bg-white-content{padding-bottom: 20px}
.font-16{font-size: 16px;line-height: 20px}
.bg-white-content span.color-red{color: #eb2727;font-weight: 700}
.block-view-info ul.block-view-menu{margin: 0 5px}
.block-view-info ul.block-view-menu li{
    list-style: none;
    display: table-cell;
    width: 1%;
    background-color: #e6e6e6;
    text-align: center;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
.block-view-info ul.block-view-menu li:last-child{border-right:0}
.block-view-info ul.block-view-menu a{
    font-weight: 700;
    font-size: 16px;
    display: block;
    padding: 5px 0;
}
.block-view-info ul.block-view-menu li.active{
    background-color: #fff;
    border-right: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-bottom: 0;
}
.block-view-info ul.block-view-menu li.active:first-child{
    border-left: 1px solid #cdcdcd;
}
.block-view-info ul.block-view-menu li.active a{
    color: #3098f5;
}
.block-view-btn{
    margin: 5px 6px 7px;
    text-align: center;
}
.block-view-btn ul{
    margin: 0;
    padding: 0;
}
.block-view-btn li{
    display: table-cell;
    background-color: #39b6ff;
    width: 1%;

    font-weight: bold;
    border-right: 5px solid #eee;
}
.block-view-btn li.bg-pink{
    background-color: #ff63dd;
    border-right:0;
}
a.btn-send,a.btn-follow{
    color: #fff;
    display: inline-block;
    padding: 10px 0;
    background:url(../images/icon-send.png) no-repeat left center;
    padding-left: 28px;
}
a.btn-follow{
    background:url(../images/icon-follow.png) no-repeat left center;
}
.block-chat img{border: 1px solid #c1c1c1;}
.block-chat .item-name{font-weight: 700;color: #3098f5}
.block-chat .color-red{color: #eb3c3c}
.block-chat .item-logout{color: #a2a2a2}
.block-chat .item{margin-bottom: 10px;overflow: hidden}
a.btn-ans,a.btn-report,a.btn-back{
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    background-color: #fff;
    margin: 7px 5px 10px;
    padding: 7px 0;
    width: 190px;
}
a.btn-ans span, a.btn-report span, a.btn-back span {
    background: url(../images/icon-ans.png) no-repeat;
    color: #53c10a;
    display: inline-block;
    font-weight: 700;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 35px;
}
a.btn-report span{
    background: url(../images/icon-report.png) no-repeat;
    color: #de4e4e;
}
a.btn-back span{
    background: url(../images/icon-back.png) no-repeat;
    color: #fdb94e;
    padding: 0 0 0 40px;
}
.block-question{margin: 0 -10px}
.block-question ul{
    margin: 0;
}
.block-question ul li{
    list-style: none;
    position: relative;
    display: block;
    border-bottom: 1px solid #cbcbcb;
    padding: 15px 75px 15px 10px;
}
.block-question ul li:last-child{border-bottom: 0}
.block-question ul span{
    color:#989898;
    font-weight: 700;
}
.block-question span.color-blue{color:#3098f5;font-weight: 700}
.block-question span.color-orange{color:#ff8a00;font-weight: 700}
.block-question a,.block-question a:hover,.block-question a:visited,.block-question a:focus{
    background-color: #1cbe06;
    display: inline-block;
    position: absolute;
    font-weight: 700;
    color: #fff;
    padding: 4px 12px;
    border: 1px solid #16a603;
    right:10px;
    top:10px;
    border-radius: 20px;
}
.blog-profile .block-register{
    border: 0;
    margin: 0 5px 10px;
    padding: 0 15px 20px;
}

/* *********  calender dropdown  **************************** */
.daterangepicker.dropdown-menu {
    font-size: 13px;
    padding: 0;
    overflow: hidden;
}

.daterangepicker.picker_1 {
    background: #34495E;
    color: #ECF0F1;
}

.daterangepicker.picker_1 table.table-condensed thead tr:first-child {
    background: #1ABB9C;
}

.daterangepicker table.table-condensed thead tr:first-child th {
    line-height: 28px;
    text-align: center;
}

.daterangepicker.picker_1 table.table-condensed thead tr {
    background: #213345;
}

.daterangepicker table.table-condensed thead tr {
    line-height: 14px;
}

.daterangepicker table.table-condensed tbody tr:first-child td {
    padding-top: 10px;
}

.daterangepicker table.table-condensed th:first-child,
.daterangepicker table.table-condensed td:first-child {
    padding-left: 12px
}

.daterangepicker table.table-condensed th:last-child,
.daterangepicker table.table-condensed td:last-child {
    padding-right: 12px
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px 7px;
    text-align: center;
}

.daterangepicker table.table-condensed tbody tr:last-child td {
    padding-bottom: 10px;
}

.daterangepicker.picker_2 table.table-condensed thead tr:first-child {
    color: inherit;
}

.daterangepicker.picker_2 table.table-condensed thead tr {
    color: #1ABB9C;
}

.daterangepicker.picker_3 table.table-condensed thead tr:first-child {
    background: #1ABB9C;
    color: #ECF0F1;
}

.daterangepicker.picker_4 table.table-condensed tbody td {
    background: #ECF0F1;
    color: #34495E;
    border: 1px solid #fff;
    padding: 4px 7px;
}

.daterangepicker.picker_4 table.table-condensed tbody td.active {
    background: #536A7F;
    color: #fff;
}

.daterangepicker.picker_4 table.table-condensed thead tr:first-child {
    background: #34495E;
    color: #ECF0F1;
}

.xdisplay_input {
    width: 240px;
    overflow: hidden;
    padding: 0;
}

.xdisplay {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    width: 230px;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.daterangepicker.opensright .ranges,
.daterangepicker.opensright .calendar,
.daterangepicker.openscenter .ranges,
.daterangepicker.openscenter .calendar {
    float: right;
}

.daterangepicker.dropdown-menu .calendar {}

.daterangepicker table {
    width: 100%;
    margin: 0;
}

.daterangepicker td,
.daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    white-space: nowrap;
}

.daterangepicker td.off {
    color: #999;
}

.daterangepicker td.disabled {
    color: #999;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background: #eee;
    color: #34495E;
}

.daterangepicker td.in-range {
    background: #E4E7EA;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.daterangepicker td.available + td.start-date {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.daterangepicker td.in-range + td.end-date {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #536A7F;
    color: #fff;
}

.daterangepicker td.week,
.daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
    height: 30px;
    border: 1px solid #ADB2B5;
    line-height: 30px;
    border-radius: 0px !important;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
}

.daterangepicker select.yearselect {
    width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0;
}

.daterangepicker_start_input {
    float: left;
}

.daterangepicker_end_input {
    float: left;
    padding-left: 11px
}

.daterangepicker th.month {
    width: auto;
}


.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
    color: #333;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    text-shadow: #fff 1px 1px 0px;
    text-transform: uppercase;
    width: 74px;
}

.daterangepicker .ranges input {
    font-size: 11px;
}

.daterangepicker .ranges .input-mini {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 10px 0;
    padding: 0 6px;
    width: 74px;
}

.daterangepicker .ranges .input-mini:hover {
    cursor: pointer;
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #536A7F;
    padding: 3px 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #536A7F;
    border: 1px solid #536A7F;
    color: #fff;
}

.daterangepicker .calendar {
    display: none;
    max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
    border: none;
}

.daterangepicker.single .ranges,
.daterangepicker.single .calendar {
    float: none;
}

.daterangepicker .ranges {
    width: 160px;
    text-align: left;
    margin: 4px;
}

.daterangepicker .ranges .range_inputs>div {
    float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
    padding-left: 11px;
}

.daterangepicker.opensleft .ranges,
.daterangepicker.opensleft .calendar {
    float: left;
    margin: 4px;
}
/* *********  /calender dropdown  **************************** */

/**********************************/
@media (max-width: 1169px) {

}
@media (max-width: 991px) {
	.articleitem_body .title a { font-size:16px; font-weight: bold;}
	.articleitem_body .wrap-tool { font-size: 12px;}
	#tpl-header { font-size:22px;}
}
@media (max-width: 768px) {
	.articleitem_body .wrap-tool .view { background-size: 18px; padding-left: 26px; }
	#tpl-footer { font-size: 14px;}
	.topmenu ul li a { padding: 0 12px; font-size: 16px; }
	.tpl-footer_menu .menu li { padding: 0px 25px;}
	.webpart_title { font-size:18px; line-height: 40px; height: 40px;}
	.webpart_title span { background-size: 80px;}
	#tpl-header { font-size:16px;}
	.title_banner { font-size:16px;}
	.hotline { font-size:20px;  padding:17px 10px;}
	.playgame .btn-default,
	.login .btn-default { font-size:14px; min-width: inherit; height:40px;  line-height:40px;}
	.login img { max-width:20% !important;}
	.copyright img { max-width:70% !important;}

		/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.playgame { padding:15px ;}


}
@media (max-width: 480px) {
    a.btn-send,a.btn-follow{
        font-size: 12px;
        padding: 7px 0;
        padding-left: 23px;
    }
    .profile-name{float: left;width: 70%;}
    .avata img{
        width: 35px;
        float: left;
        margin-right: 4px;
        height: 35px !important;
    }
    .name-title{
        float: left;
        width: 70%;
    }
	.articleitem_body { }
	#tpl-header { font-size:13px;}
	#tpl-footer { font-size: 12px; }
	.articleitem_body .item_body { padding: 5px;}
	.articleitem_body .title a { font-size: 12px; font-weight: bold;}
	.articleitem_body .wrap-tool { font-size: 11px;}
	.articleitem_body .wrap-tool .view { background-size: 14px; padding-left: 18px;}
	.article-detail h1 { font-size: 18px;}
	.article-detail .article_main  { font-size: 14px;}
	.article-detail .datecreate { font-size:12px;}
	.tpl-footer_menu .menu li { padding: 0px 13px;}
	.topmenu ul li a { font-size: 13px; padding:0 6px;}
	.topmenu ul li { padding:8px 0 6px; border-bottom: 2px #e82828 solid;}
	.topmenu ul li.active,
	.topmenu ul li:hover {border-bottom: 2px #fff solid;}
	.topmenu img { width: 15px;}
	.login { font-size:14px;}
	.note { font-size:12px;}
	.form-control { height:35px; font-size:18px; margin: 8px 0 12px;}
	.playgame .btn-default,
	.login .btn-default { font-size:14px; min-width: inherit; height:40px;  line-height:40px;}
	.tb { font-size:11px;}
	.icon-home { font-size:18px;}
	.tb .close { font-size: 12px;}
	.webpart_title { }
	.articleitem_body .wrap-tool .view,
	.articleitem_body .wrap-tool .datecreate { margin:0;}
	.web_body { padding: 10px 10px;   margin-top: 10px;background: #fff;border-radius: 5px;}
	.webpart_title { height:50px;line-height: 50px;}
	.title_banner { font-size:14px;}
	.table th {
		text-align:center; font-size:14px; font-weight:bold; background:#009966; border:solid 1px #eeeeee; color:#fff; vertical-align: middle;
	}
	.table td{
		font-size:14px; text-align:center; border:solid 1px #eeeeee;
	}
	.copyright table td { padding:0 5px;}
	.menu1 ul li { padding: 8px 0;}
	.menu1 ul a { font-size: 16px;padding-top: 8px; }
	.menu-right img { max-width:80% !important;}
}
@media (max-width: 360px) {
    .block-live a,.block-live .item-note,.block-live .item-time{font-size: 12px}
    .block-live .item-time{position: relative;right: auto;bottom: auto}
    .comment-answer-list-title{
        width: 65%;
      float: left;
      word-wrap:break-word;
    }
    .profile-name{float: left;width: 62%;}
    .name-title {
        width: 65%;
    }
	.webpart_title { height:30px;line-height: 30px; padding-left: 10px;}
	.tpl-footer_menu .menu li { padding: 0px 8px;}
	.articleitem_body .col-xs-6 { height:auto !important; }
	.articleitem_body .wrap-tool { position:static;}
	.table th { font-size:12px; vertical-align: middle;}
	.table td{font-size:12px; text-align:center; border:solid 1px #eeeeee;}

    .top_header .finter,.top_header .notifi{
        top:10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }
    .top_header .notifi{
        right:50px;
        width: 22px;
        height: 22px;
        top:10px;
    }
    .menu-right-top img.icon-muiten{
        right: 50px;
    }
}
.clas {
    list-style: none;
}